<div class="container" id="header">
    <h1 id="title">BELP</h1>
        <p id="sub-title">Add your favorite Happy Hour spot to our database!</p>
        <a href="/" style="color:white">← Back To Home</a>
    </div>
    <form>
      <div class="container" id="form">
      <div class="form-row" id="row">
        <div class="form-group col-md-7">
          <label for="barName" id="label">Name of Bar</label>
          <input type="text" class="form-control" id="barName" placeholder="Enter your favorite watering hole!">
        </div>
        
        <div class="form-group col-md-7">
          <label for="address" id="label">Address</label>
          <input type="text" class="form-control" id="newCity" placeholder="Street Address, City, State">
        </div>
        
          <div class="form-group col-md-7">
              <label for="happyStart" id="label">Happy Hour Start</label>
              <input type="time" class="form-control" id="timeStart" placeholder="Happy Hour Start">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>

          <div class="form-group col-md-7">
              <label for="happyEnd" id="label">Happy Hour End</label>
              <input type="time" class="form-control" id="timeEnd" placeholder="Happy Hour End">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
    
        <!-- <div class="form-group col-md-7">
          <label for="location">Lat, Long</label>
          <input type="text" class="form-control" id="location" />
        </div> -->

        <div class="form-group col-md-7">
          <label for="inputPrice" id="label">Price</label>
          <select id="inputPrice" class="form-control">
            <option selected="">Choose...</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group col-md-7">
          <label for="inputRating" id="label">Rating</label>
          <select id="inputRating" class="form-control">
            <option selected="">Choose...</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      <div class="form-group col-md-7">
      <button type="submit" class="btn btn-primary" id="addBar">
        Add Bar!
      </button>
      </div>
      </form>
    </div>

