<div class="card border-none" id="back">
                <div class="row no-gutters">
                  <div class="col-md-4">

                    <img src="../images/hh4.jpg" class="card-img" alt="Happy Hour">

                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <div class="card border-none card text-center" id="back">
                        <h1 class="card-title">BELP</h1>
                        <h2 class="card-text">Happy Hour Finder</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
<br>
<br>
        <div class="container">
                <div class="row align-items-start">
                  <div class="col">
                    <button type="button" class="btn btn-dark" id="button"><a href="/view" style="color:white">View Happy Hours!</a></button>
                  </div>
                  <!--Placeholder for additional button-->
                  <!-- <div class="col">
                    Coming Soon!
                  </div> -->
                  <div class="col">
                    <button type="button" class="btn btn-dark" id="button"><a href="/add" style="color:white">Add a Happy Hour!</a></button>
                  </div>
                </div>
