/* HOMEPAGE */
h1 {
  font-family: "Bungee Shade", cursive;
  /* font-family: 'Bungee Inline', cursive; */
  /* font-family: 'Limelight', cursive; */
  font-size: 225px;
  color: rgb(247, 207, 77);
  margin-top: -25px;
}

#back {
  background-color: black;
}

.card-img {
  margin-top: 20px;
  height: 300px;
  width: 350px;
  margin-left: 150px;
}

h2 {
  font-family: "Limelight", cursive;
  color: rgb(247, 207, 77);
}

#button {
  font-family: "Limelight", cursive;
  font-size: 30px;
  margin-left: 125px;
  color: white;
  background-color: rgb(191, 145, 6);
}

body {
  background-image: url("../images/background2.jpg");
}

/* VIEW HAPPY HOURS, ADD HAPPY HOUR HEADER */

#header {
  background-color: black;
  text-align: center;
}

#title {
  font-family: "Bungee Shade", cursive;
  color: rgb(247, 207, 77);
}

#sub-title {
  font-family: "Limelight", cursive;
  font-size: 30px;
  color: rgb(247, 207, 77);
}

#lefthead, #righthead {
  background-color: rgb(191, 145, 6);
  font-family: "Limelight", cursive;
  color: white;
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}

#barList {
  font-family: "Limelight", cursive;
  font-size: 20px;
  color: rgb(247, 207, 77);
  background-color: black;
}
#barName2 {
  font-size: 30px;
}

/* ADD HAPPY HOUR */

#label {
  font-family: "Limelight", cursive;
  font-size: 20px;
  background-color: rgb(247, 207, 77);
  color: black;
  padding-left: 5px;
  padding-right: 5px;
}

#form {
  margin-top: 10px;
}

#addBar {
  background-color: rgb(247, 207, 77);
  font-family: "Limelight", cursive;
  color: black;
  font-size: 20px;
}

#map {
  height: 500px;
  width: 100%;
}
